.container {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.image {
    width: 100%;
    height: auto;
  }
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    border-radius: 16px;
    background:  rgba(0, 0, 0, 0.60) 0;
  }
  .container:hover .overlay {
    opacity: 1;
  }

