@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,900&family=Open+Sans:ital,wght@0,400;0,800;1,800&family=Work+Sans:wght@400;500;600;700;800&display=swap");
* {
  font-family: "Work Sans", sans-serif;
}
body {
  width: 1845px;
}
/* shared style */
.btn-primary {
  border-radius: 48px;
  color: #ffff;
  display: inline-flex;
  padding: 21px 40px;
  align-items: flex-start;
  gap: 10px;
  border: none;
}
.purple-text {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* nav style */
header nav {
  height: 130px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
nav {
  display: flex;
  justify-content: space-between;
  padding-left: 240px;
  padding-right: 240px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img {
  width: 86.041px;
  height: 40px;
  margin-right: 15px;
}
ul {
  display: flex;
  gap: 2.5rem;
  justify-content: center;
  align-items: center;
}
ul > li {
  list-style: none;
}
ul > li a {
  text-decoration: none;
  color: #3c354f;
  font-size: 18px;
  font-weight: 500;
}
.follow-btn {
  width: 200px;
  height: 50px;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  border: none;
}
.title {
  color: #0b0223;
  font-size: 45px;
  font-weight: 700;
}
.text-color {
  color: #ff42a5;
}
/* banner section */
.banner {
  display: flex;
  gap: 70px;
}

.banner-content {
  background-image: url(../images/Group\ 14.png);
  /* width: 901px;
  height: 700px; */
}
.banner-left {
  margin: 147px 240px 147px 240px;
}
.banner-title {
  color: #0b0223;
  font-size: 2.5rem;
  font-weight: 600;
}
.banner-h1 {
  font-size: 6rem;
  font-weight: 800;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.banner-description {
  color: #534c64;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 30px;
}
.banner img {
  margin-right: 240px;
}

.sing-up {
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  margin-right: 26px;
}
.go-rouge {
  background: #4ec5f7;
}
/* online-game */
.online-game-section {
  margin: 120px 240px 120px 240px;
}
.online-game-content {
  text-align: center;
}
.game-card {
  display: flex;
  gap: 24px;
}
.game-title {
  color: #534c64;
  font-size: 1.1rem;
  font-weight: 500;
}
.game-tag {
  color: #0b0223;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 0;
}

.game-details {
  color: #534c64;
  font-size: 18px;
  font-weight: 400;
  margin-top: 1rem;
  margin-bottom: 3rem;
}
.card-img {
  position: relative;
  width: 100%;
}
.overlay a {
  text-decoration: none;
  font-size: 26px;
  font-weight: 600;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0; 
  transition: opacity 0.3s ease;
}
.content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ff42a5;
  text-align: center;
  cursor: pointer;
  
}
.overlay p{
  font-size: 30px;
}

.card-img:hover .overlay {
  opacity: 1;
}

/* play game */
.play-game-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 240px 120px 240px;
}
.play-game-content {
  margin-right: 260px;
}
.play-game-h3 {
  font-size: 48px;
  font-weight: 700;
  text-align: right;
}
.details-p-tag {
  color: #534c64;
  text-align: right;
  font-size: 18px;
  font-weight: 400;
  width: 353px;
}
.play-game-img-2 {
  margin-top: -261px;
  margin-left: -100px;
}
/* game button */
.game-zone {
  display: grid;
  margin: 0px 230px 120px 230px;
}
.game-btn {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
#button-6 {
  margin-left: 100px;
}

.game-btn button {
  width: 300px;
  height: 80px;
  border-radius: 50px;
  background: #fff;
}

.btn-title {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
.game-btn button:hover {
  border: 1px solid #ff42a5;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  background-color: white;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.btn-title span {
  color: #0b0223;
  font-size: 1rem;
  font-weight: 600;
  padding: 29px 20px 28px 0px;
}
.btn-title img {
  width: 60px;
  height: 60px;
  border-radius: 50px;
  padding: 10px 16px 10px 10px;
}

/* footer section */
.footer {
  background: #0b0223;
  height: 636px;
}
.footer-title {
  color: #ffff;
  font-size: 45px;
  font-weight: 700;
}
.footer-info {
  display: grid;
  grid-template-columns: repeat(6, auto);
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  gap: 60px;
  justify-content: center;
}

.footer-logo {
  margin-top: 56px;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 16px;
}
.footer-logo a {
  margin-right: 30px;
  font-size: 40px;
}
.footer-terms {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: center;
  color: rgba(255, 255, 255, 0.6);
  gap: 40px;
  font-size: 16px;
  font-weight: 500;
  margin-top: 74px;
}
.copy-right {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}

/* mobile device responsive */
@media screen and (max-width: 428px) {
  body {
    width: 1000px;
  }
  header nav {
    height: auto;
    background: none;
    box-shadow: none;
  }
  nav {
    padding-left: 0px;
    padding-right: 330px;
  }
  nav,
  ul,
  .game-card {
    flex-direction: column;
  }
  .online-game-content {
    text-align: right;
    /* margin-left: 10px; */
  }
  .play-game-content {
    margin-right: 0;
  }

  .banner {
    padding-left: 100px;
    padding-right: 66px;
  }
  .banner-content {
    margin-left: 0;
    margin-right: 10px;
  }
  .banner,
  .play-game-section {
    flex-direction: column-reverse;
  }
  .game-tag {
    font-size: 2.3rem;
  }
  .game-btn {
    /* display: grid; */
    margin-left: 50px;
    grid-template-columns: repeat(3, 1fr);
  }
  #button-6 {
    margin-left: 0;
  }
  .game-zone {
    margin-left: 0;
    padding-right: 50px;
  }
  .footer {
    background: #0b0223;
    width: auto;
    height: 880px;
  }
  .footer-info {
    grid-template-columns: repeat(3, auto);
  }
  .footer-terms {
    grid-template-columns: repeat(2, auto);
  }
  .footer-logo {
    display: grid;
    gap: 20px;
    justify-content: center;
    grid-template-columns: repeat(3, 100px);
  }
  .copy-right {
    width: 250px;
    height: 38px;
    margin-left: 378px;
  }
}
/* tablet device */
@media screen and (min-width: 426px) and (max-width: 769px) {
  .footer-info {
    grid-template-columns: repeat(3, 100px);
  }
  .game-tag {
    font-size: 2.3rem;
  }
  .game-btn {
    /* display: grid; */
    margin-left: 50px;
    grid-template-columns: repeat(3, auto);
  }
  /* .footer-terms{
    grid-template-columns: repeat(2 , auto);
  } */
  #button-6 {
    margin-left: 0;
  }
}
